@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    padding:5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:12px;

    .genres {
        width: min(785px,85vw);
        padding: 10px 20px 15px;
        background-color: #F0F0F0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 5px;

        .genre-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            button {
                background-color: #D7D7D7;
                border: none;
                border-radius: 5px;
                padding: 6px 10px;
                font-weight: 500;
            }

            button:hover {
                background-color: #B3B3B3;
                cursor: pointer;
            }
        }
    }
    .movies{
        width: min(785px,85vw);
        table{
            width:100%;
        }
        table,th,tr,td{
            border:1px solid #D7D7D7;
            border-collapse: collapse;
        }
        thead{
            background-color: #F0F0F0;
        }
        th{
            padding:5px;
            text-align: start;
        }
        td{
            padding:4px 9px;
            font-size: 15px;
            font-weight: 400;
        }
        tr:hover{
            background-color: #F0F0F0;
        }
    }
}